<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.irobot"
    android:versionCode="1"
    android:versionName="1.0" >

    <permission
        android:name="com.cn.customview.permissions.MY_BROADCAST"
        android:protectionLevel="signature" >
    </permission>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-library android:name="android.test.runner" />

        <activity
            android:name="com.example.irobot.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.irobot.IntroduceActivity"
            android:label="@string/app_name"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.irobot.dialogBoxActivity"
            android:noHistory="true"
            android:theme="@style/MyDialogStyleTop" >
        </activity>
        <activity
            android:name="com.example.irobot.AddQusAnsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.irobot.ReviseQusAnsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.irobot.DeleteQusAnsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.irobot.MusicDialogActivity"
            android:noHistory="true"
            android:theme="@style/MyDialogStyleTop" >
        </activity>
        <activity
            android:name="com.example.irobot.MusicActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.irobot.LocalMusicActivity"
            android:label="@string/app_name" >
        </activity>
        <service 
            android:name=".MusicService"></service>
    </application>

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:label="this is a test"
        android:targetPackage="com.example.robottest" >
    </instrumentation>

</manifest>